@import "tailwindcss";
@config "./tailwind.config.js";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-700 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500 dark:bg-slate-600;
}
